$primary: #ffd200
$secondary: #776205
$dark1: #181818
$dark2: #333
$dark3: #555

%anime
  transition: all 0.3s

h2
  font: normal 24px ''Arial', sans-serif'
  letter-spacing: 8px
  text-transform: uppercase
  font-weight: 700

h3
  font: normal 40px 'Arial', sans-serif
  font-weight: 800


body
  background-color: $dark1

.search-bar
  margin: 100px 0
  font: normal 40px 'Arial', sans-serif
  font-weight: 800
  color: $dark3
  select, input
    padding: 0
    margin: 0
    background: none
    border: none
    outline: none
    color: $primary
    text-decoration: underline
    text-transform: lowercase
    appearance: none
  select
    margin-left: 8px
    margin-right: 8px
    option
      color: $dark3
      background-color: $dark2
      outline: none
      border: none
    option:hover
      box-shadow: 0 0 10px 100px #aaa inset
  select::-ms-expand
    display: none
  input::placeholder
    border-bottom: 4px solid
    color: $secondary
    width: auto
    text-decoration: underline


.prev-next
  margin: 40px -8px
  h3
    display: inline
    margin: 0
    padding: 0
    color: $dark2
    button
      background: none
      border: none
      margin: 0
      padding: 0
      @extend %anime
    button:hover
      color: #444
      @extend %anime
    button:focus
      outline: none
    button:disabled:hover,
    button[disabled]:hover
      color: #222
  h3.right
    float: right
