.cards-wrapper .repeat .port-container, .cards-wrapper .repeat .port-container .port-info .all-data ul.nav li.nav-item a.nav-link, .cards-wrapper .repeat .port-container .port-info .all-data ul.nav li.nav-item a.nav-link:hover, .cards-wrapper .repeat .port-container .port-info .all-data .tab-pane p a, .cards-wrapper .repeat .port-container .port-info .all-data .tab-pane p a:hover, .cards-wrapper .repeat .port-container .imazhi-child, .cards-wrapper .repeat .port-container:hover, .cards-wrapper .repeat .port-container:hover .imazhi-child {
  transition: all 0.3s; }

@keyframes load {
  0% {
    fill: #191919; }
  50% {
    fill: #222; }
  100% {
    fill: #191919; } }
.cards-wrapper svg {
  animation: load 0.6s infinite;
  display: block;
  width: 40%;
  margin: 0 auto; }
.cards-wrapper .repeat {
  padding-top: 30%; }
  .cards-wrapper .repeat .port-container {
    position: absolute;
    overflow: hidden;
    margin: 10px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
    border-radius: 6px; }
    .cards-wrapper .repeat .port-container .port-info {
      padding: 30px 50px;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      width: 100%;
      height: 100%; }
      .cards-wrapper .repeat .port-container .port-info h2 {
        color: white; }
      .cards-wrapper .repeat .port-container .port-info .all-data {
        margin-top: 44px; }
        .cards-wrapper .repeat .port-container .port-info .all-data ul.nav {
          display: block;
          border-right: 1px solid #333;
          border-bottom: none; }
          .cards-wrapper .repeat .port-container .port-info .all-data ul.nav li.nav-item:nth-child(1) {
            padding-top: 32px; }
          .cards-wrapper .repeat .port-container .port-info .all-data ul.nav li.nav-item {
            padding: 10px 15px 0 15px; }
            .cards-wrapper .repeat .port-container .port-info .all-data ul.nav li.nav-item a.nav-link {
              letter-spacing: 3px;
              font: 12px "Open Sans";
              font-weight: 600;
              text-transform: uppercase;
              padding: 0;
              border: none;
              color: #555; }
            .cards-wrapper .repeat .port-container .port-info .all-data ul.nav li.nav-item a.nav-link.active {
              background-color: transparent;
              color: #ffd200; }
            .cards-wrapper .repeat .port-container .port-info .all-data ul.nav li.nav-item a.nav-link:hover {
              color: #7f7f7f;
              border: none; }
            .cards-wrapper .repeat .port-container .port-info .all-data ul.nav li.nav-item a.nav-link.active:hover {
              color: #ffd200; }
        .cards-wrapper .repeat .port-container .port-info .all-data .tab-pane p {
          letter-spacing: 2px;
          font: normal 14px 'Arial', sans-serif;
          font-weight: 400;
          text-transform: uppercase;
          color: #7f7f7f;
          line-height: 0.7;
          margin: 0 0 13px 0; }
          .cards-wrapper .repeat .port-container .port-info .all-data .tab-pane p span {
            font-weight: 600;
            color: #ffd200; }
          .cards-wrapper .repeat .port-container .port-info .all-data .tab-pane p a {
            color: #7f7f7f;
            text-decoration: none; }
          .cards-wrapper .repeat .port-container .port-info .all-data .tab-pane p a:hover {
            color: #ffd200; }
    .cards-wrapper .repeat .port-container .imazhi-child {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50%; }
  .cards-wrapper .repeat .port-container:hover {
    box-shadow: 0 10px 32px rgba(0, 0, 0, 0.6);
    transform: translateY(-1px); }
    .cards-wrapper .repeat .port-container:hover .imazhi-child {
      transform: scale(1.06); }

/*# sourceMappingURL=card.css.map */
